# Regression model

## Linear regression

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

In [2]:
PATH = '../csv_data/processed'
CITY = 'opole'

In [4]:
df = pd.read_csv(f'{PATH}/{CITY}.csv')
df.head()

,price,area,rooms,rent,address_encoded,district_Bierkowice,district_Chabry,district_Chmielowice,district_Czarnowąsy,district_Gosławice,...,heating_info_gas,heating_info_none,heating_info_other,heating_info_tiled_stove,heating_info_urban,building_type_block,building_type_house,building_type_none,building_type_ribbon,building_type_tenement
0,572000,64.0,3.0,NaN,526833.333333,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
1,539000,48.0,2.0,527.0,447875.000000,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
2,869000,85.0,3.0,300.0,869000.000000,False,False,True,False,False,...,True,False,False,False,False,False,False,False,True,False
3,629000,49.5,2.0,450.0,566893.666667,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
4,559000,56.9,3.0,850.0,661500.000000,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False

In [5]:
X = df.drop('price', axis=1)
X

,area,rooms,rent,address_encoded,district_Bierkowice,district_Chabry,district_Chmielowice,district_Czarnowąsy,district_Gosławice,district_Groszowice,...,heating_info_gas,heating_info_none,heating_info_other,heating_info_tiled_stove,heating_info_urban,building_type_block,building_type_house,building_type_none,building_type_ribbon,building_type_tenement
0,64.00,3.0,NaN,5.268333e+05,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
1,48.00,2.0,527.0,4.478750e+05,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
2,85.00,3.0,300.0,8.690000e+05,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
3,49.50,2.0,450.0,5.668937e+05,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
4,56.90,3.0,850.0,6.615000e+05,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,71.80,3.0,700.0,5.745000e+05,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
558,86.00,3.0,NaN,5.779140e+05,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
559,105.00,5.0,290.0,5.779140e+05,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
560,140.00,4.0,NaN,1.600000e+06,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
561,49.01,2.0,NaN,4.050000e+05,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,False,False

In [6]:
y = df['price']
y

0       572000
1       539000
2       869000
3       629000
4       559000
        ...
557     570000
558     949000
559     795000
560    1600000
561     405000
Name: price, Length: 562, dtype: int64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)